@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
    --blue: rgb(30, 196, 251);
    --dark-blue: rgb(9, 131, 201);
    --tab-width: 42px;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


#content{
    width: 100%;
    display: flex;
}


.sidebar{
    width: 160px;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
}

.sidebar-title{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.users{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.user_li{
    cursor: pointer;
    text-align: center;
    transition: 200ms ease-in-out;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid gray;
    background-color: white;
}


.user_li:first-child{
    border-top: 1px solid gray;
}

.user_li:hover{
    filter: brightness(.75);
}

.options-bar{
    width: 220px;
    height: 100vh;
    min-height: fit-content;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
}

#options-list{
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    overflow-y: scroll;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 32px;
    transition: 200ms ease-in-out;
    width: 80%;
    height: 40px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.option:hover{
    background: var(--dark-blue);
}

.data-wrapper{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.data{
    width: 1000px;
}

.data-content{
    width: 100%;
    color: black; 
    height: 90vh;
    overflow: scroll;
}

.field{
    display: flex;
    align-items: center;
    margin-left: var(--tab-width);
    height: 28px;
    font-family: "Inconsolata", monospace !important;
}

.j-bracket{
    font-family: "Inconsolata", monospace !important;
}

.field h4{
    font-weight: 500;
}

.arr-el{
    margin-left: var(--tab-width);
}

.json-input-wrapper{
    display: flex;
}

.json-input{
    outline: none;
    border: none;
    min-width: 2px;
    padding: 0 1px;
    letter-spacing: -.25px;
    text-align: center;
    font-weight: 500;
}

.json-blue{
    color: rgb(2, 139, 197);
}

.json-green{
    color: rgb(38, 167, 13);
}

.json-orange{
    color: orange;
}

.json-purple{
    color: rgb(157, 42, 170);
}
